polymer-element(name='leaf-meter', attributes="battery_capacity battery_remaining_amount battery_charging_status plugin_state cruising_range_ac_off time_required_to_full_L2_sec time_required_to_full_sec")
  template
    style.
      .steps > div {
        width: 1em;
        height: 1em;
        background: white;
        border: 1px solid black;
      }
      .steps > div.full {
        background: purple;
      }
      h1 {
        margin: 0;
        font-size: 100%;
      }
      :host > div {
        border: 1px solid black;
        display: inline-flex;
        flex-direction: column;
      }
    div
      div(style="flex: 0 0 auto")
        h1 Last reading
      div(style="flex: 1 0; display: flex;")
        div.steps(style="flex: 0 0 auto")
          template(repeat="{{i in steps}}")
            div(class="{{i <= remain ? 'full' : 'empty'}}") 
        div(style="flex: 0 0 auto")
          div
            | {{desc}}
          div
            | {{estimate}}
  script(src="leaf-meter.js")  

polymer-element(name='leaf-polling', attributes="next_sample recent now_milli")
  template
    style.
      #timeline {
        height: 20px;
        width: 600px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        position: relative;
        margin-bottom: 3em;
      }
      .tick {
        position: absolute;
        border-left: 1px solid black;
        height: 100%;
      }
      .label {
        position: relative;
        top: 20px;
        width: 1px;
        font-size: 8px;
      }
    div(style="border: 1px solid black")
      div Next sample in {{nextMin}} min
      div#timeline
        template(repeat="{{ev in events}}")
          div.tick(style="{{ev.style}}")
            div.label {{ev.label}}
      
  script(src="leaf-polling.js")

polymer-element(name='leaf-predict', attributes='previous')
  template
    link(rel="stylesheet", href="/lib/rickshaw/71877d994a/src/css/graph.css")
    | Battery level
    #chart
    #slider
  script(src="/lib/rickshaw/71877d994a/vendor/d3.v3.js")
  script(src="/lib/rickshaw/71877d994a/rickshaw.min.js")
  script(src="leaf-predict.js")
    
polymer-element(name='leaf-report')
  template
    style.
      @host { :scope {display: block;} }
      section {
        margin-top: .4em;
        margin-bottom: 1em;
        outline: 1px solid gray;
        display: inline-block;
        overflow: hidden;
        margin: 5px;
      }
    section
      leaf-meter(
        battery_capacity="{{latestRead.battery_capacity}}",
        battery_remaining_amount="{{latestRead.battery_remaining_amount}}",
        battery_charging_status="{{latestRead.battery_charging_status}}",
        plugin_state="{{latestRead.plugin_state}}",
        cruising_range_ac_off="{{latestRead.cruising_range_ac_off}}",
        time_required_to_full_L2_sec="{{latestRead.time_required_to_full_L2_sec}}",
        time_required_to_full_sec="{{latestRead.time_required_to_full_sec}}",
      )
    section
      leaf-predict(previous="{{latestRead.previous}}")
    section
      leaf-polling#polling(
            next_sample="{{latestRead.nextPollTime}}",
            recent="{{latestRead.previous}}",
            now_milli="1397949838708")
    div
      | The latest report was fetched {{latestRead.data_time}}, {{latestRead.data_time | fromNow}}
    div Latest report:
    section
      div
        | plugin_state:
        b {{latestRead.plugin_state}}
      div
        | battery_charging_status:
        b {{latestRead.battery_charging_status}}
      div battery_capacity: {{latestRead.battery_capacity}}
      div battery_remaining_amount: {{latestRead.battery_remaining_amount}}
    section
      div
        | cruising_range_ac_off:
        b {{latestRead.cruising_range_ac_off | meterToMile}}
      div cruising_range_ac_on: {{latestRead.cruising_range_ac_on | meterToMile}}
    section
      div
        | time_required_to_full_L2_sec: {{latestRead.time_required_to_full_L2_sec | humanizeSec}}
      div time_required_to_full_sec: {{latestRead.time_required_to_full_sec | humanizeSec}}
    section
      div
        | operation_date_and_time:
        b {{latestRead.operation_date_and_time | fromNow}}
      div notification_date_and_time: {{latestRead.notification_date_and_time | fromNow}}
      div
        | last_battery_status_check_execution_time: {{latestRead.last_battery_status_check_execution_time | fromNow}}
      div data_time: {{latestRead.data_time | fromNow}}
      | refresh button here that posts a request
  script(src='/lib/jquery-2.0.3.js')
  script(src='/lib/moment.min.js')
  script(src='leaf-report.js')

  // listen for leaf-report update signal, rerun refresh